bstatePath: .yarn/build-state.yml

cacheFolder: .yarn/cache

compressionLevel: 9

enableAbsoluteVirtuals: true

enableColors: true

enableGlobalCache: true

enableHyperlinks: true

enableImmutableCache: true

enableImmutableInstalls: true

enableMirror: true

enableNetwork: true

enableProgressBars: true

enableTelemetry: true

enableTimers: true

httpRetry: 4

httpTimeout: 10000

ignoreCwd: false

ignorePath: false

